<div id="body">
  <div class="h-[650px] w-[345px] sm:h-[765px] sm:w-[500px]" id="form">
    <h1>Register</h1>
    <form (ngSubmit)="register()" class="relative flex flex-col justify-center items-center gap-3">
      <label for="user">User
        <input id="user" type="text" [ngModel]="user" name="user" placeholder="Enter your name user"
          autocomplete="username">
      </label>
      <label for="email">Email
        <input id="email" type="email" [ngModel]="email" name="email" placeholder="Your email" autocomplete="email">
      </label>
      <label for="cEmail">Confirm Email
        <input id="cEmail" type="email" [ngModel]="cEmail" name="cEmail" placeholder="Email" autocomplete="email">
      </label>
      <label for="pass">Password
        <input id="pass" type="password" [ngModel]="password" name="password" placeholder="Your password"
          autocomplete="new-password">
      </label>
      <label for="cPass">Confirm Password
        <input id="cPass" type="password" [ngModel]="cPassword" name="cPassword" placeholder="Password"
          autocomplete="new-password">
      </label>
      <button type="submit">Login</button>
    </form>
  </div>
</div>