<div id="body">
  <div id="form">
    <h1>Login</h1>
    <div class="relative flex flex-col justify-center items-center gap-3">
      <label for="email">Email
        <input id="email" type="email" placeholder="Your email">
      </label>
      <label for="pass">Password
        <input id="pass" type="password" placeholder="Your password">
      </label>
      <div class="flex flex-row items-center justify-center">
        <label class="flex flex-row justify-center items-center font-extralight gap-1 mt-5 text-xs" for="allow">
          <input type="checkbox" name="allow" id="allow">Remember me
        </label>
      </div>
      <button>Login</button>
    </div>
  </div>
</div>
