@import "tailwindcss";

@layer base {
  * {
    @apply caret-transparent;
  }

  #header {
    @apply flex flex-row justify-center items-center h-24 bg-blue-50;
  }

  #form {
    @apply absolute flex flex-col bg-white w-80 h-[425px] sm:w-[425px] sm:h-[500px] rounded-b-2xl rounded-t-xl drop-shadow-lg drop-shadow-blue-200 justify-center items-center transition-all duration-500;
  }

  nav {
    @apply flex gap-10 text-lg sm:text-xl transition-all duration-500;
  }

  #body {
    @apply flex h-[1000px] w-full justify-center items-start bg-blue-100 pt-16 cursor-default;
  }

  input {
    @apply bg-gray-200 h-10 w-[250px] sm:h-12 sm:w-[300px] p-3 rounded-xl border-gray-300 border-[1px] caret-gray-900 text-black font-extralight text-[12px] sm:text-sm transition-all duration-500 hover:border-2 hover:border-gray-600 focus:border-[1px] focus:border-gray-700 outline-none;
  }

  input[type="checkbox"] {
    @apply h-2.5 w-2.5;
  }

  p {
    @apply text-[12px] sm:text-[15px] font-extralight;
  }

  label {
    @apply flex flex-col justify-center text-sm sm:text-lg font-medium text-gray-700 mb-2 transition-all duration-500;
  }

  h1 {
    @apply mb-5 text-3xl sm:text-4xl font-medium font-mono transition-all duration-500 text-gray-500;
  }

  a {
    @apply text-lg sm:text-xl md:text-2xl font-extralight font-mono hover:scale-105 transition-all duration-500;
  }

  button {
    @apply h-10 w-[200px] mb-5  sm:h-13 sm:w-[250px] text-sm sm:text-lg md:text-xl text-black bg-blue-300 rounded-xl cursor-pointer hover:scale-105 transition-all duration-300 hover:bg-blue-400 hover:text-white;
  }

  input::placeholder {
    @apply text-gray-500;
  }
}
